#display {
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem;
}

#calculate {
  width: 100%;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
}

.grid button {
  width: 80px;
  height: 80px;
  font-size: 20px;
}

.in {
  max-width: 300px;
  height: 10px;
  padding: 100px;
  font-size: 16px;
  text-align: right;
}
