.display {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.result {
  text-align: right;
  font-size: 1rem;
  color: gray;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
  min-height: 1.5em;

  white-space: nowrap;
  overflow-y: hidden;
  display: block;

  /* Самий надійний спосіб приховати скрол за замовчуванням */
  overflow-x: hidden;
}

/* Коли наводимо курсор на поле з текстом */
.result:hover {
  overflow-x: auto; /* Повзунок з'являється тільки при наведенні */
}

/* Робимо сам повзунок тонким і красивим (за бажанням) */
.result::-webkit-scrollbar {
  height: 4px; /* Тоненька лінія */
}

.result::-webkit-scrollbar-track {
  background: transparent;
}

.result::-webkit-scrollbar-thumb {
  background: rgba(
    128,
    128,
    128,
    0.4
  ); /* Напівпрозорий сірий колір під колір тексту */
  border-radius: 4px;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
}

.grid button {
  width: 80px;
  height: 80px;
  font-size: 20px;
}

.in {
  max-width: 300px;
  height: 10px;
  padding: 100px;
  font-size: 30px;
  text-align: right;
}
